<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="dao.boardMapper">
   		<resultMap type="org.java.board.dto.BoardDto" id="boardDto">
		<result column="board_number" property="boardNumber"/>
		<result column="writer" property="writer"/>
		<result column="subject" property="subject"/>
		<result column="email" property="email"/>
		<result column="content" property="content"/>
		<result column="password" property="password"/>
		<result column="write_date" property="writeDate"/>
		<result column="read_count" property="readCount"/>
		<result column="group_number" property="groupNumber"/>
		<result column="sequence_number" property="sequenceNumber"/>
		<result column="sequence_level" property="sequenceLevel"/>
	</resultMap>
	
	<select id="boardGroupNumberMax" resultType="int">
		select nvl(max(group_number), 0) from board
	</select>
	
	<update id="boardWriteNumber" parameterType="java.util.HashMap">
		<![CDATA[
			update board set sequence_number=sequence_number+1
			where group_number=#{groupNumber} and sequence_number > #{sequenceNumber}
		]]>
	</update>
	
	<insert id="boardInsert" parameterType="org.java.board.dto.BoardDto">
		insert into board(board_number, writer, subject, email, content, 
							  password, write_date, read_count, group_number, 
							  sequence_number, sequence_level)
		values(board_board_number_seq.nextval, #{writer}, #{subject}, #{email}, 
		        #{content}, #{password}, #{writeDate}, #{readCount}, #{groupNumber}, 
		        #{sequenceNumber}, #{sequenceLevel})
	</insert>
	
	 <select id="boardCount" resultType="int">
	 	select count(*) from board
	 </select>
	 
	 <select id="boardList" resultMap="boardDto" parameterType="java.util.HashMap">
	 	<![CDATA[
	 		select * from
	 			(select rownum rnum, a.* from
	 				(select * from board order by group_number desc, sequence_number asc)a)
	 		where rnum>=#{startRow} and rnum <=#{endRow}
	 	]]>
	 </select>
	 
	 <update id="boardReadCount" parameterType="int">
	 	update board set read_count=read_count+1
	 	where board_number=#{boardNumber}
	 </update>
	 
	 <select id="boardRead" resultMap="boardDto" parameterType="int">
	 	select * from board where board_number=#{boardNumber}
	 </select>
	 
	 <delete id="boardDelete" parameterType="java.util.HashMap">
	 	delete from board where password=#{password} and board_number=#{boardNumber}
	 </delete>
	 
	 <update id="boardUpdate" parameterType="org.java.board.dto.BoardDto">
	 	update board set email=#{email}, subject=#{subject}, content=#{content}
	 	where board_number=#{boardNumber}
	 </update>
   </mapper>
  